@import "~style/lib";

.dropzone {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: blink 0.8s linear infinite;
    z-index: 99;
}

@keyframes blink {
    0% { box-shadow: none; }
    50% { box-shadow: 0 0 3rem $green-color; }
    100% { box-shadow: none; }
}
